RSS (to Supabase) (18).json
{
  "name": "RSS (to Supabase)",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e1e334d-7277-429a-8ab6-fb226906e305",
              "name": "rawJsonOutput",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [4064, 656],
      "id": "a145f6d8-9751-4e0e-820f-9349a6d92caa",
      "name": "rawJsonOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e1e334d-7277-429a-8ab6-fb226906e305",
              "name": "rawJsonOutput",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [4032, 0],
      "id": "197ede9f-2c21-4e88-ab34-0d5406c90626",
      "name": "rawJsonOutput1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [4592, 656],
      "id": "e5480468-6eca-4a79-bf50-8ecae32946e4",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 1,
        "output": "={{ $json.workerId }}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [3040, 720],
      "id": "0c9157d9-cbfb-4586-aa0e-fd3a69dfb3ae",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e1e334d-7277-429a-8ab6-fb226906e305",
              "name": "rawJsonOutput",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3456, 976],
      "id": "543bf141-7663-4513-bd66-1e8f59285b20",
      "name": "rawJsonOutput2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e1e334d-7277-429a-8ab6-fb226906e305",
              "name": "rawJsonOutput",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3424, 320],
      "id": "08fc21f9-21da-4db4-9961-c518ca04feb7",
      "name": "rawJsonOutput3"
    },
    {
      "parameters": {
        "jsCode": "// 获取所有传入的 items\nconst items = $input.all();\n\n// 遍历每一个 item\nfor (const item of items) {\n  // 关键：item.json.data 已经是一个 JavaScript 数组了，不是字符串！\n  const alreadyParsedData = item.json.data;\n  \n  // 因此，我们不需要解析，直接把它赋值给新字段即可\n  item.json.parsedData = alreadyParsedData;\n}\n\n// 返回修改后的完整 items 数组\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3104, 256],
      "id": "2545dcd9-e2b0-414c-ab7e-f5edafc73d74",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// 获取所有传入的 items\nconst items = $input.all();\n\n// 遍历每一个 item\nfor (const item of items) {\n  // 关键：item.json.data 已经是一个 JavaScript 数组了，不是字符串！\n  const alreadyParsedData = item.json.data;\n  \n  // 因此，我们不需要解析，直接把它赋值给新字段即可\n  item.json.parsedData = alreadyParsedData;\n}\n\n// 返回修改后的完整 items 数组\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3072, 944],
      "id": "dd2c3531-35e4-407d-82e7-c5a181a39681",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "=0 0 3,12,19 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-4176, 1040],
      "id": "a608010a-9123-46d2-9b10-cdf6f831f55f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.full_instruction }}"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {
          "temperature": 0.6
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [3328, 0],
      "id": "f57fba81-9125-4695-8f98-eb715022e150",
      "name": "Message 分析1",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "googlePalmApi": {
          "id": "HImeO4uITlIc0TjP",
          "name": "Google Gemini(PaLM) alok30 account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.full_instruction }}"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [3360, 528],
      "id": "c2eecd97-3ac5-4264-945f-7ede877fd6c0",
      "name": "Message 分析",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "googlePalmApi": {
          "id": "Sl2eW3Yfh0QSR6AR",
          "name": "Google Gemini(PaLM) alok2333 cheery account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('设置全局Prompt').item.json.prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [2688, 928],
      "id": "2e8c991e-bd47-4e4f-b414-66ba01a21e3e",
      "name": "Basic LLM Chain",
      "alwaysOutputData": true,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('设置全局Prompt').item.json.prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [2720, 224],
      "id": "7c749f69-abb8-4785-8241-01bad8ef3062",
      "name": "Basic LLM Chain1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen-turbo",
          "mode": "list",
          "cachedResultName": "qwen-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [2720, 368],
      "id": "2b72f582-ac35-4670-b9bd-c2c63a7502db",
      "name": "百炼 qwen-turbo1",
      "credentials": {
        "openAiApi": {
          "id": "xRMNZ6W62ApMjQJK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. 获取从 Merge 节点过来的所有输入项（每个都是一个批次的结果）\nconst allBatches = $input.all();\n\n// 2. 创建一个空数组，用于存放所有解析出来的文章\nlet allParsedArticles = [];\n\n// --- 核心修改：获取当前的处理时间 ---\n// 我们在这里获取一次时间，确保同一次运行的所有文章时间戳完全一致\nconst processingDate = $now.toISO();\n\n// 3. 遍历每一个批次\nfor (const batchItem of allBatches) {\n  // 获取该批次返回的、包含JSON数组的字符串\n  const jsonString = batchItem.json.rawJsonOutput;\n\n  // 安全检查：确保 jsonString 存在且为字符串\n  if (jsonString && typeof jsonString === 'string') {\n    try {\n      // 解析这个字符串，得到一个文章对象数组\n      const parsedData = JSON.parse(jsonString);\n      \n      // --- 核心修改：为每一篇文章注入处理时间 ---\n      parsedData.forEach(article => {\n        article.n8n_processing_date = processingDate;\n      });\n      \n      // 将这个批次的文章数组，合并到最终的大数组中\n      allParsedArticles = allParsedArticles.concat(parsedData);\n    } catch (error) {\n      console.error(\"JSON 解析失败:\", error, \"原始字符串:\", jsonString);\n    }\n  }\n}\n\n// 4. 返回所有解析并合并后的文章，让 n8n 将它们作为独立的 Item 输出\n// 这是 n8n 的标准做法，方便下游节点（如Aggregate1）处理\nreturn allParsedArticles.map(article => ({ json: article }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4784, 736],
      "id": "3b9602e0-e423-407b-80da-3a7fedd27811",
      "name": "JSON序列化"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen-plus",
          "mode": "list",
          "cachedResultName": "qwen-plus"
        },
        "options": {
          "timeout": 300000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [2736, 1088],
      "id": "959a7e55-8078-48f1-a1df-f9305e39e3d6",
      "name": "百炼 qwen-plus",
      "credentials": {
        "openAiApi": {
          "id": "xRMNZ6W62ApMjQJK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://alok-bark-worker.chengalok30.workers.dev/fwyyjWAE63ODsP3TB4MTx1/今日简报/{{ $json.barkSubtitle }}?url={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6400, 608],
      "id": "efff64d3-7414-4cc5-9ebc-5b1b54651a69",
      "name": "推送到BARK"
    },
    {
      "parameters": {
        "useCustomServer": true,
        "serverUrl": "https://ntfy-macos.zeabur.app",
        "topic": "alok-n8n-alert",
        "title": "今日简报",
        "tags": {
          "emojis": ["fox_face"]
        },
        "message": "={{ $json.barkSubtitle }}",
        "additionalOptions": {
          "click": "={{ $json.url }}"
        }
      },
      "type": "@jyln/n8n-nodes-ntfy.ntfy",
      "typeVersion": 1,
      "position": [6448, 816],
      "id": "c1e4fe08-f3a4-428a-b33c-be87e47812bf",
      "name": "推送到mac NTFY"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aloklok-freshrss.zeabur.app/api/greader.php/accounts/ClientLogin",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "Email",
              "value": "alok"
            },
            {
              "name": "Passwd",
              "value": "qq29506399"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-3264, 992],
      "id": "d49fa391-eda5-4c23-8f04-4411c8d737a8",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "jsCode": "const workflowStaticData = $getWorkflowStaticData('global');\nif (!workflowStaticData.lastRunTimestamp) {\n  workflowStaticData.lastRunTimestamp = $now.toUnixInteger() - 86400;\n}\nreturn [\n  {\n    json: {\n      lastRunTimestamp: workflowStaticData.lastRunTimestamp\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3456, 1008],
      "id": "290bc98d-b890-4bc3-89d3-a687b4cbbb9f",
      "name": "lastRunTimestamp"
    },
    {
      "parameters": {
        "tableId": "articles",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [5504, 848],
      "id": "ddf7fadb-202a-44e8-9599-2e35de78159f",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "N41BzutkEEzhGAUl",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://aloklok-freshrss.zeabur.app/api/greader.php/reader/api/0/stream/contents/user/-/state/com.google/reading-list",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ot",
              "value": "={{ $('lastRunTimestamp').item.json.lastRunTimestamp }}"
            },
            {
              "name": "n",
              "value": "15"
            },
            {
              "name": "r",
              "value": "o"
            },
            {
              "name": "xt",
              "value": "user/-/state/com.google/read"
            },
            {
              "name": "excludeContent",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=GoogleLogin auth={{$('HTTP Request3').first().json.data.split('\\n')[2].split('=')[1]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-2960, 960],
      "id": "2f5e7af8-58c3-453a-96c2-70560f20c682",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [5328, 656],
      "id": "0f80e181-3941-4dec-aae4-0c9b879123b0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "7dbf237c-6a91-44ed-8db8-4860eff0584b",
              "leftValue": "={{ $json.hasArticles }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [160, 800],
      "id": "f995b777-24ba-47ba-85da-ed221aef14c4",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// --- 在这里配置您的简报URL ---\nconst reportUrl = \"https://alok-rss.top/now\";\n// ------------------------------\n\n// 【核心修正】：通过名称直接引用“过滤”节点，避免多输入源干扰\n// 注意：请确保您的过滤节点名称完全匹配 '过滤'\nconst filterNode = $('过滤').first().json;\n\nlet articleCount = 0;\n\n// 精准获取文章数量\nif (filterNode && Array.isArray(filterNode.id)) {\n    articleCount = filterNode.id.length;\n}\n\n// --- 准备问候语 ---\nconst hour = new Date(new Date().toLocaleString('en-US', { timeZone: 'Asia/Shanghai' })).getHours();\nlet greeting = '';\nif (hour >= 0 && hour < 12) {\n  greeting = '早上好';\n} else if (hour >= 12 && hour < 18) {\n  greeting = '中午好';\n} else {\n  greeting = '晚上好';\n}\n\n// --- 根据文章数量生成标题 ---\nlet subtitle = '';\nif (articleCount > 0) {\n  subtitle = `${greeting}！新简报已送达，共${articleCount}篇文章。`;\n} else {\n  subtitle = `${greeting}！目前暂无新的文章。`;\n}\n\n// --- 输出结果 ---\nreturn [{\n  json: {\n    barkSubtitle: subtitle,\n    url: reportUrl\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6144, 560],
      "id": "2b23d495-f480-47a1-8640-2ad231529082",
      "name": "生成bark子标题和url"
    },
    {
      "parameters": {
        "jsCode": "// 1. 获取全局静态数据对象\nconst workflowStaticData = $getWorkflowStaticData('global');\n\n// 2. 获取当前时间的 Unix 时间戳（秒），使用 n8n 内置的 $now\nconst currentTimestamp = $now.toUnixInteger();\nconsole.log(currentTimestamp);\n\n// 3. 将当前时间戳写入，供下次运行使用\nworkflowStaticData.lastRunTimestamp = currentTimestamp;\n\nreturn{\n  json: {\n      workflowStaticData: workflowStaticData\n    }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6704, 592],
      "id": "9258ce7c-4c9e-4e9e-8ac6-9714d3569241",
      "name": "写入本次运行时间"
    },
    {
      "parameters": {
        "jsCode": "// 目标：仅负责 重构字段 & 清洗内容\nconst { htmlToText } = require('html-to-text');\n\nconst inputData = $input.first().json;\nconst articles = inputData.items || []; \n\nconst finalArticles = [];\n\nfor (const fullArticle of articles) {\n  // --- 过滤逻辑已移除，由 FreshRSS 源头处理 ---\n\n  const rawContent = fullArticle.content?.content || fullArticle.summary?.content || '';\n\n  const reconstructedArticle = {\n    id: fullArticle.id,\n    title: fullArticle.title || '',\n    link: fullArticle.alternate?.[0]?.href || fullArticle.canonical?.[0]?.href,\n    sourceName: fullArticle.origin?.title,\n    published: new Date((fullArticle.published > 10000000000 ? fullArticle.published : fullArticle.published * 1000)).toISOString(),\n    content: rawContent,\n    tags: fullArticle.tags || [] \n  };\n\n  const textContent = htmlToText(reconstructedArticle.content, {\n    wordwrap: false,\n    selectors: [\n      { selector: 'a', options: { ignoreHref: true } },\n      { selector: 'img', format: 'skip' },\n    ]\n  });\n  reconstructedArticle.content = textContent;\n\n  finalArticles.push({ json: reconstructedArticle });\n}\n\nreturn finalArticles;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1424, 1056],
      "id": "2075602e-e681-4502-998f-5f859b0abff3",
      "name": "数据重构、清洗、过滤"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "app_config",
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "gemini_briefing_prompt"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-3776, 1024],
      "id": "db98a2a3-bf9c-47b9-8075-9082284a2350",
      "name": "prompt",
      "credentials": {
        "supabaseApi": {
          "id": "N41BzutkEEzhGAUl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 获取上游重构后的文章数据\nconst allItems = $input.all();\n\n// 【修复点】使用 .first() 而不是 .item，并确保访问方式不触发配对检查\n// 这样无论上游有多少项，都只取 'prompt' 节点的第一个输出值\nconst promptNode = $('prompt').first(); \nconst promptTemplate = promptNode.json.value;\n\nconst BATCH_SIZE = 15; \nconst NUM_WORKERS = 1; \nconst finalOutput = [];\n\nfor (let i = 0; i < allItems.length; i += BATCH_SIZE) {\n  const batchOfItems = allItems.slice(i, i + BATCH_SIZE);\n  const payloadData = batchOfItems.map(item => item.json);\n  \n  // 核心：在内存里直接完成替换，不经过表达式引擎\n  const finalPrompt = promptTemplate.replace('{{payload}}', JSON.stringify(payloadData));\n\n  finalOutput.push({\n    json: {\n      // 只输出这一个字段，极致节省内存\n      full_instruction: finalPrompt,\n      workerId: (i / BATCH_SIZE) % NUM_WORKERS\n    }\n  });\n}\nreturn finalOutput;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2064, 1024],
      "id": "35c47ac7-2280-4bfe-a5c3-6b10687709fc",
      "name": "批处理&路由&prompt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ef70226b-645c-43dd-885b-b5841423b667",
              "leftValue": "={{ $input.first().json.items.length }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-2720, 784],
      "id": "267c80a1-6384-48b6-bc6d-b4a1f4749ebd",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "https://aloklok-freshrss.zeabur.app/api/greader.php/reader/api/0/stream/contents/user/-/state/com.google/reading-list",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "nt",
              "value": "={{ $('lastRunTimestamp').item.json.lastRunTimestamp }}"
            },
            {
              "name": "n",
              "value": "30"
            },
            {
              "name": "r",
              "value": "d"
            },
            {
              "name": "xt",
              "value": "user/-/state/com.google/read"
            },
            {
              "name": "excludeContent",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=GoogleLogin auth={{$('HTTP Request3').first().json.data.split('\\n')[2].split('=')[1]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-2240, 784],
      "id": "e43b521c-5657-4564-8245-b2405a6a7f27",
      "name": "HTTP Request 补漏"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "items"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [-1552, 944],
      "id": "c8211d7e-403f-4ae7-aa99-c27121f24c16",
      "name": "Aggregate"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-1760, 960],
      "id": "1df08900-dc43-450b-8c91-aa52c680f96f",
      "name": "Merge1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aloklok-freshrss.zeabur.app/api/greader.php/reader/api/0/stream/items/contents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=GoogleLogin auth={{$('HTTP Request3').first().json.data.split('\\n')[2].split('=')[1]}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/x-www-form-urlencoded",
        "body": "={{ $json.id.map(v => `i=${encodeURIComponent(v)}`).join('&') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [832, 1024],
      "id": "f098edd5-83b8-4bba-87d0-6bfc9f2eb161",
      "name": "HTTP Request 恢复全文",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst rawItems = input.items || [];\n\n// 1. 获取主请求的 URL 集合，用于优先级排序\nconst mainItemsRaw = $('HTTP Request4').all();\nconst mainLinkSet = new Set();\nmainItemsRaw.forEach(item => {\n  (item.json.items || []).forEach(i => {\n    const l = i.canonical?.[0]?.href || i.alternate?.[0]?.href;\n    if (l) mainLinkSet.add(l);\n  });\n});\n\nconst seenLinks = new Set();\nconst seenIds = new Set(); // <--- 新增：用于在批次内部过滤重复 ID\nconst uniqueItems = [];\nconst duplicateIds = []; \n\n// 2. 排序：新文章（主请求里的 URL）排在前面\nconst sortedItems = [...rawItems].sort((a, b) => {\n  const aLink = a.canonical?.[0]?.href || a.alternate?.[0]?.href;\n  const bLink = b.canonical?.[0]?.href || b.alternate?.[0]?.href;\n  const aIsNew = mainLinkSet.has(aLink) ? 1 : 0;\n  const bIsNew = mainLinkSet.has(bLink) ? 1 : 0;\n  return bIsNew - aIsNew;\n});\n\n// 3. 链路与 ID 双重去重\nfor (const item of sortedItems) {\n  const link = item.canonical?.[0]?.href || item.alternate?.[0]?.href;\n  \n  // 核心修改：不仅看 Link 是否见过，还要看 ID 是否见过\n  if (link && item.id) {\n    if (!seenLinks.has(link) && !seenIds.has(item.id)) {\n      seenLinks.add(link);\n      seenIds.add(item.id);\n      uniqueItems.push(item);\n    } else {\n      // 只要 Link 或 ID 任意一个重复，都记录为重复项\n      duplicateIds.push(item.id);\n    }\n  }\n}\n\n// 4. 生成查询串 (用于 Supabase)\nconst linkQueryString = uniqueItems.map(item => {\n  const l = item.canonical?.[0]?.href || item.alternate?.[0]?.href;\n  return `\"${l}\"`;\n}).join(',');\n\n// 新增：生成 ID 的查询串\nconst idQueryString = uniqueItems.map(item => {\n  return `\"${item.id}\"`;\n}).join(',');\n\nreturn [{\n  json: {\n    linkQueryString: `in.(${linkQueryString})`,\n    idQueryString: `in.(${idQueryString})`, // <--- 输出 ID 列表字符串\n    cleanItems: uniqueItems,\n    duplicateIds: duplicateIds,\n    hasDuplicates: duplicateIds.length > 0,\n    count: uniqueItems.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1328, 800],
      "id": "c81ae4ed-508f-41f6-83b8-4eafb33be5ee",
      "name": "提取ID&LINK去重"
    },
    {
      "parameters": {
        "jsCode": "/**\n 场景 1：Link 在库 + ID 不同（不同订阅源推了同一篇文章）$\\rightarrow$ 冗余，标记为已读。\n 场景 2：Link 在库 + ID 相同（完全一致的记录）$\\rightarrow$ 不做处理（不发 Gemini，也不标已读，留着你自己读）。\n 场景 3：Link 不在库 + ID 在库（订阅源改了 URL，比如你遇到的 Q/k 情况）$\\rightarrow$ 冗余，标记为已读。\n */\n\n\n// --- 1. 归一化工具函数 (保持原样) ---\nfunction norm(url) {\n  if (!url || typeof url !== 'string') return '';\n  return url.trim().toLowerCase()\n    .replace(/^https?:\\/\\//, \"\")\n    .replace(/^www\\./, \"\")\n    .split('?')[0].split('#')[0]\n    .replace(/\\/+$/, \"\");\n}\n\n// --- 2. 收集主请求的 URL 池 (保持原样) ---\nconst mainItemsRaw = $('HTTP Request4').all(); \nconst mainUrlSet = new Set();\nmainItemsRaw.forEach(item => {\n  (item.json.items || []).forEach(i => {\n    const l = i.canonical?.[0]?.href || i.alternate?.[0]?.href || i.link;\n    if (l) mainUrlSet.add(norm(l));\n  });\n});\n\n// --- 3. 收集数据库黑名单 (建立 Link Map 和 ID Set) ---\nconst dbItemsRaw = $('supabase的link去重').all();\nconst dbUrlMap = new Map();\nconst dbIdSet = new Set(); \n\ndbItemsRaw.forEach(item => {\n  const nLink = norm(item.json.link);\n  const dbId = item.json.id;\n  if (nLink) dbUrlMap.set(nLink, dbId); \n  if (dbId) dbIdSet.add(dbId); \n});\n\n// --- 4. 获取待处理的全量数据 ---\nconst deDupeNode = $('提取ID&LINK去重').first().json;\nconst allArticles = deDupeNode.cleanItems || [];\nconst internalDuplicates = deDupeNode.duplicateIds || [];\n\n// --- 5. 执行分流、去重与审计 ---\nconst newArticles = [];\nlet backfillPool = [];\nconst dbDuplicateIds = []; \n\nconst auditLog = {\n  blockedByDB: [],\n  movedToBackfill: []\n};\n\nallArticles.forEach(article => {\n  const link = article.canonical?.[0]?.href || article.alternate?.[0]?.href || article.link;\n  const nLink = norm(link);\n\n  const existingDbIdByLink = dbUrlMap.get(nLink); // 场景 1 & 2 的依据\n  const idExistsInDb = dbIdSet.has(article.id);   // 场景 3 的依据\n\n  // 只要数据库里有（无论是 Link 还是 ID），这篇文章都不进入 Gemini 分析\n  if (existingDbIdByLink || idExistsInDb) {\n    auditLog.blockedByDB.push(link);\n\n    // 精准逻辑判断：\n    if (existingDbIdByLink && existingDbIdByLink !== article.id) {\n      // 场景 1：Link 相同，ID 不同 -> 标记已读\n      dbDuplicateIds.push(article.id);\n    } else if (!existingDbIdByLink && idExistsInDb) {\n      // 场景 3：Link 不同，ID 相同 -> 标记已读 (你遇到的 Q/k 情况)\n      dbDuplicateIds.push(article.id);\n    }\n    // 场景 2：Link 相同，ID 相同 -> 命中 else，什么也不做 (保持未读状态，你自己去读)\n    \n    return; \n  }\n\n  // 正常的流转逻辑\n  if (mainUrlSet.has(nLink)) {\n    newArticles.push(article);\n  } else {\n    auditLog.movedToBackfill.push(link);\n    backfillPool.push(article);\n  }\n});\n\n// --- 6. 随机抽样补漏池 (保持原样) ---\nif (backfillPool.length > 5) {\n  backfillPool = backfillPool.sort(() => 0.5 - Math.random()).slice(0, 5);\n}\n\nconst finalSelection = [...newArticles, ...backfillPool];\n\n// --- 7. 保留您的 CONSOLE DEBUG ---\nconsole.log(`==== 最终审计报告 ====`);\nconsole.log(`[1] 数据库拦截了 ${auditLog.blockedByDB.length} 条:`);\nif(auditLog.blockedByDB.length > 0) console.log(`   - 示例: ${auditLog.blockedByDB[0]}`);\nconsole.log(`[2] 主请求匹配成功 ${newArticles.length} 条`);\nconsole.log(`[3] 补漏池分流了 ${auditLog.movedToBackfill.length} 条`);\n\n// 合并所有冗余 ID\nconst finalMarkReadIds = [...internalDuplicates, ...dbDuplicateIds];\n\n// --- 8. 输出结果 ---\nconst finalIds = finalSelection.map(article => article.id);\n\nreturn [{\n  json: {\n    id: finalIds,                \n    markReadIds: finalMarkReadIds, \n    hasArticles: finalIds.length > 0,\n    hasReadTasks: finalMarkReadIds.length > 0\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-560, 816],
      "id": "54dfcfac-826e-45ed-a853-16648bc108c7",
      "name": "过滤"
    },
    {
      "parameters": {
        "url": "https://rpctclawjqruwpfirkez.supabase.co/rest/v1/articles",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,link"
            },
            {
              "name": "or",
              "value": "=({{ 'link.' + $json.linkQueryString + ',id.' + $json.idQueryString }})"
            },
            {}
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-912, 784],
      "id": "5a329e2d-d690-4516-9c33-8dde28939557",
      "name": "supabase的link去重",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "N41BzutkEEzhGAUl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://aloklok-freshrss.zeabur.app/api/greader.php/reader/api/0/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'GoogleLogin auth=' + $('HTTP Request3').first().json.data.split('\\n')[2].split('=')[1]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-272, 1152],
      "id": "101de9e5-bf56-49cf-8aaa-bff7050ebfa7",
      "name": "FRESHRSS获取操作TOKEN"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aloklok-freshrss.zeabur.app/api/greader.php/reader/api/0/edit-tag",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'GoogleLogin auth=' + $('HTTP Request3').first().json.data.split('\\n')[2].split('=')[1]}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/x-www-form-urlencoded",
        "body": "={{ \"a=user/-/state/com.google/read&T=\" + $json.data.trim() + \"&\" + $('过滤').first().json.markReadIds.map(id => \"i=\" + encodeURIComponent(id)).join(\"&\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-224, 1472],
      "id": "47e4ce5a-35b9-428e-ac95-a7ded91c3f89",
      "name": "FRESHRSS已读重复项"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "375c3c4b-6526-49fc-9852-9fc4fe4a85b2",
              "leftValue": "={{ $json.hasReadTasks }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-352, 976],
      "id": "b36828f8-cfeb-4ccb-ad31-75f3c7911d51",
      "name": "If2"
    }
  ],
  "pinData": {},
  "connections": {
    "rawJsonOutput": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "rawJsonOutput1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "JSON序列化",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Message 分析",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rawJsonOutput2": {
      "main": [[]]
    },
    "rawJsonOutput3": {
      "main": [[]]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "rawJsonOutput3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "rawJsonOutput2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "百炼 qwen-turbo1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message 分析1": {
      "main": [
        [
          {
            "node": "rawJsonOutput1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message 分析": {
      "main": [
        [
          {
            "node": "rawJsonOutput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON序列化": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "百炼 qwen-plus": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "推送到BARK": {
      "main": [
        [
          {
            "node": "写入本次运行时间",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lastRunTimestamp": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "生成bark子标题和url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "生成bark子标题和url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request 恢复全文",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成bark子标题和url": {
      "main": [
        [
          {
            "node": "推送到BARK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "数据重构、清洗、过滤": {
      "main": [
        [
          {
            "node": "批处理&路由&prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prompt": {
      "main": [
        [
          {
            "node": "lastRunTimestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "批处理&路由&prompt": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request 补漏",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HTTP Request 补漏": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "提取ID&LINK去重",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request 恢复全文": {
      "main": [
        [
          {
            "node": "数据重构、清洗、过滤",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取ID&LINK去重": {
      "main": [
        [
          {
            "node": "supabase的link去重",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "过滤": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "supabase的link去重": {
      "main": [
        [
          {
            "node": "过滤",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FRESHRSS获取操作TOKEN": {
      "main": [
        [
          {
            "node": "FRESHRSS已读重复项",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "FRESHRSS获取操作TOKEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Shanghai",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveDataSuccessExecution": "all"
  },
  "versionId": "5e77f552-a739-419b-a074-72026939fc6b",
  "meta": {
    "instanceId": "60a07e2cee24a2a381a0e51882732d8802549f41948f0b7e127a78fde7fba631"
  },
  "id": "kcsw9QywEuHjd0ng",
  "tags": []
}
